#logoArriba, img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    object-fit: cover;
}
logo{
    object-position: center;
}
#wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-repeat: no-repeat;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    grid-column-gap: 5%;
  }
  td{
    height: 20px;
  }
  h1{
    text-align: center;
  }
 #pieDePagina{
    text-align: center;
    font-weight: bold;
  }
  #fa{
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  #coment{
    font-size: x-small;
  }

  tbody{vertical-align: top;}
